.markdown-body {
  color: #4F566B;
  font-family: Georgia, serif;
  line-height: 1.5;
}

.markdown-body pre {
  background-color: #f5f2f0;
  overflow: auto;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: #24272E;
}

.markdown-body code {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: pink;
  border-radius: 5px;
  margin: auto 3px;
}
