* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.el-pagination__total {
    /* color: rgba(255, 255, 255, 0.6); */
}

.el-pagination button:disabled {
    background-color: transparent;
    /* color: rgba(255, 255, 255, 0.2); */
}

.el-pagination button:disabled:hover {
    /* color: rgba(255, 255, 255, 0.2); */
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
    background: transparent;
    /* color: rgba(255, 255, 255, 0.6); */
}

.el-pagination .btn-next:hover,
.el-pagination .btn-prev:hover {
    /* color: rgba(255, 255, 255, 0.9);; */
}

.el-pager li {
    background: transparent;
    /* color: rgba(255, 255, 255, 0.6); */
}

.el-pager li.active {
    /* color: rgba(255, 255, 255, 0.9);; */
}

.el-pager li:hover {
    color: rgba(255, 255, 255, 0.9);
    ;
}

@media screen and (max-width: 768px) {
    .el-dropdown-menu {
        width: 100% !important;
        left: 0 !important;
        border: none;
        background-color: rgba(0, 0, 0, 0.9);
        border-top: 2px solid white;
        top: 47px !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .el-dropdown-menu__item:focus,
    .el-dropdown-menu__item:not(.is-disabled):hover {
        color: inherit;
        /* background-color: rgba(255, 255, 255, 0.9); */
    }
    .el-popper .popper__arrow::after {
        content: none;
    }
}