.markdown-body {
  color: #828282;
  text-align: justify;
}

.markdown-body img {
  /*border-radius: 10px;*/
  margin: 0 auto;
  display: block;
  border: 5px solid #e0dfcc;
}

.markdown-body pre {
  border: 5px solid #e0dfcc;
}
