.markdown-body .highlight pre, .markdown-body pre {
  background-color: #eeeeee;
}

.markdown-body img {
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

.markdown-body pre {
  border: 5px solid #e0dfcc;
}
